/**
 This CSS implements the Material Design look and feel for Anvil apps.
 **/

/* Stop panel-cols cutting off drop shadows */
.anvil-panel-col {
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.content > .placeholder {
  margin: 16px;
  color: #888;
  font-size: 18px;
  outline: 1px dotted;
  padding: 16px;
  text-align: center;
}

/* Put things on a 4px grid (none of this 7px nonsense) */
.has-text .anvil-component-icon.left-icon { margin-right: 8px; }
.has-text .anvil-component-icon.right-icon { margin-left: 8px; }

a>.anvil-component-icon.left_edge-icon,
a>.anvil-component-icon.right_edge-icon,
.anvil-label>.anvil-component-icon.left_edge-icon,
.anvil-label>.anvil-component-icon.right_edge-icon {
  padding-top: 8px;
  padding-bottom: 8px;
}
.anvil-label>.label-text, a>.link-text {
  padding-top: 8px;
  padding-bottom: 8px;
}
.file-loader>label {
    padding: 8px;
}
.checkbox label, .radio label {
    padding-top: 8px; padding-right: 8px; padding-bottom: 8px;
}
.anvil-spacing-above-none { margin-top: 0px; }
.anvil-spacing-above-small { margin-top: 4px; }
.anvil-spacing-above-medium { margin-top: 8px; }
.anvil-spacing-above-large { margin-top: 16px; }
.anvil-spacing-below-none { margin-bottom: 0px; }
.anvil-spacing-below-small { margin-bottom: 4px; }
.anvil-spacing-below-medium { margin-bottom: 8px; }
.anvil-spacing-below-large { margin-bottom: 16px; }


.col-padding.col-padding-tiny { padding: 0 2px; }
.column-panel.col-padding-tiny > .anvil-panel-section > .anvil-panel-section-container > .anvil-panel-section-gutter { margin: 0 -2px; }

.col-padding.col-padding-small { padding: 0 4px; }
.column-panel.col-padding-small > .anvil-panel-section > .anvil-panel-section-container > .anvil-panel-section-gutter { margin: 0 -4px; }

.col-padding.col-padding-medium { padding: 0 8px; }
.column-panel.col-padding-medium > .anvil-panel-section > .anvil-panel-section-container > .anvil-panel-section-gutter { margin: 0 -8px; }

.col-padding.col-padding-large { padding: 0 12px; }
.column-panel.col-padding-large > .anvil-panel-section > .anvil-panel-section-container > .anvil-panel-section-gutter { margin: 0 -12px; }

.col-padding.col-padding-huge { padding: 0 20px; }
.column-panel.col-padding-huge > .anvil-panel-section > .anvil-panel-section-container > .anvil-panel-section-gutter { margin: 0 -20px; }

.flow-panel.flow-spacing-tiny > .flow-panel-gutter { margin: 0 -2px; }
.flow-panel.flow-spacing-tiny > .flow-panel-gutter > .flow-panel-item { 
  margin-left: 2px;
  margin-right: 2px;
}

.flow-panel.flow-spacing-small > .flow-panel-gutter { margin: 0 -4px; }
.flow-panel.flow-spacing-small > .flow-panel-gutter > .flow-panel-item { 
  margin-left: 4px;
  margin-right: 4px;
}

.flow-panel.flow-spacing-medium > .flow-panel-gutter { margin: 0 -8px; }
.flow-panel.flow-spacing-medium > .flow-panel-gutter > .flow-panel-item { 
  margin-left: 8px;
  margin-right: 8px;
}

.flow-panel.flow-spacing-large > .flow-panel-gutter { margin: 0 -12px; }
.flow-panel.flow-spacing-large > .flow-panel-gutter > .flow-panel-item { 
  margin-left: 12px;
  margin-right: 12px;
}

.flow-panel.flow-spacing-huge > .flow-panel-gutter { margin: 0 -20px; }
.flow-panel.flow-spacing-huge > .flow-panel-gutter > .flow-panel-item{ 
  margin-left: 20px;
  margin-right: 20px;
}


/* Typography */
body {
  font-family: Roboto, Noto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4286;
  background-color: #fafafa;
  overflow: hidden;
  cursor: default;
}

@media print {
  body {
    background-color: white;
  }
}

a, a:focus {
  text-decoration: none;
  color: %color:Primary 700%;
}

a:hover, a:active {
  color: %color:Primary 500%;
}

.anvil-label {
/*  font-size: 16px;*/
}

.anvil-role-subheading {
  font-size: 16px;
  line-height: 24dp;
}

.anvil-role-headline {
  font-size: 24px;
  line-height: 32px;
}

.anvil-role-input-prompt {
  font-size: 16px;
  line-height: 1.5;
}

.anvil-role-display-4 {
  font-size: 112px;
  font-weight: light;
}

.anvil-role-text {
  font-size: 14px;
}
.anvil-role-text > .label-text, .anvil-role-text .link-text {
  padding-top: 0;
  padding-bottom: 0;
}

/* Page structure: App bar with optional left nav */
.structure {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - %anvil-banner-height%);
  height: 0; /* To make flex-grow work in IE */
}

/* However, this breaks the designer's height measurement. IE isn't supported for the designer, so set it back. */
.designer .structure {
  height: initial;
}

.app-bar {
  flex: 0 0;
  flex-basis: auto;
  flex-basis: content;
}

.nav-holder {
  flex-grow: 1;
  overflow-y: auto;
}

@media print {
  .nav-holder {
    overflow-y: initial;
  }
}


/* Mobile and desktop margins for content */
/* .content > * > .anvil-container {
  padding: 8px;
}

@media(min-width:991px) {
  .content > * > .anvil-container {
    padding: 16px 24px;
  }
}
 */
.content .anvil-measure-this {
  padding-bottom: 1px; /* Prevent margin collapse messing up embedding */
  height: 100%;
}

/* Allow overflows to show drop shadows in ColumnPanels
   This can create unwanted scrollbars; we compensate for this at the top level with .nav-holder .content {overflow-x: hidden;}
*/
.anvil-container-overflow {
  overflow-x: visible;
  overflow-y: visible;
}


/* Desktop: Nav bar pinned */

.nav-holder {
  display: flex;
  flex-direction: row;
}

.nav-holder .left-nav {
  position: relative;
  flex-shrink: 0;
  width: 260px;
}

.nav-shield {
  display: none;
}

/* Mobile: Nav bar is a modal overlay */

@media(max-width:998px) {
  html:not(.designer) .nav-holder .left-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: 399;
/*     visibility: hidden; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px -1px 2px 1px rgba(27,41,57,0.30); 
    box-shadow: 0px -1px 2px 1px rgba(27,41,57,0.30);
    border: none;
    transition: height .75s ease-out;
    opacity: .95;
  }
  
   html:not(.designer) .nav-holder .left-nav.shown {
    display: block;
  }
  .nav-shield.shown {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
  }

  .mapboxgl-ctrl-geocoder {
    min-width: 0px !important;
    width: 50px !important;
  }

  .mapboxgl-ctrl-geocoder:focus-within {
    width: 94% !important;
  }

  .left-nav::-webkit-scrollbar {
    display: none;
  }
  
  .anvil-role-mobile-menu {
    margin-top: 15px !important;
    overflow-y: scroll;
  }
  
  .anvil-role-mobile-menu::-webkit-scrollbar {
    display: none;
  }

  .marker_details {
    left: 0 !important;
    width: 100% !important;
    opacity: 95%;
  }

  .x-btn-container {
    display: flex;
    flex-direction: row-reverse;
  }
}

.nav-holder .left-nav, .left-nav-placeholder {
  display: flex;
  flex-direction: column;
  background: %color:Primary 700%;
  border-right: 1px solid #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,0.87);
  overflow-x: hidden;
  overflow-y: auto;
}

.left-nav-placeholder {
  display: block;
  padding: 8px;
  line-height: 1;
  width: 58px;
}
.left-nav-placeholder .prompt {
  display: inline-block;
  white-space: nowrap;
  transform: translate(-50%,0) rotate(-90deg) translate(-50%,0) translate(15px,16px);
  padding: 16px 16px;
  color: #888;
  outline: 1px dotted #888;
  visibility: hidden;
}
.anvil-highlight .left-nav-placeholder .prompt {
  visibility: visible;
}

.left-nav > .column-panel {
  padding: 10px 0;
}
.left-nav > .column-panel > .anvil-panel-section > .anvil-panel-section-container:not(.full-width-row) {
  margin: 0 16px;
  width: initial;
  max-width: initial;
  overflow-x: visible;
}
.left-nav > .column-panel > .anvil-panel-section:first-child > .anvil-panel-section-container.full-width-row {
  margin-top: -24px;
}
.left-nav > .column-panel > .anvil-panel-section > .anvil-panel-section-container > .anvil-panel-section-gutter > .anvil-panel-row > .anvil-panel-col {
  overflow-x: visible;
}

/* Make all the sidebar icons look nice */

.left-nav .anvil-component-icon {
  font-size: 160%;
}

.left-nav .anvil-component-icon.left-icon {
  width: 0;
  margin-right: 56px;
  position: relative;
  top: 0.15em;  
}

.left-nav .anvil-component-icon.left_edge-icon, .left-nav .anvil-component-icon.right_edge-icon {
  left: 16px;
  padding-top: 2px;
  width: 0;
}

.left-nav .anvil-component-icon.right_edge-icon {
  left: initial;
  right: 16px;
  top: 0;
  padding-top: 2px;
}

/* Sidebar links (and labels with edge icons) go +16px wider
   (Top-level columns in ColumnPanels get overflow-x visible [see above]to enable this)
*/

.left-nav a, .left-nav .anvil-label.left_edge-icon, .left-nav .anvil-label.right_edge-icon {
  color: rgba(0,0,0,0.87);
  margin: 0 -16px;
  padding: 4px 16px;
}

.left-nav .anvil-component.left_edge-icon {
  padding-left: 72px;
}

.left-nav a:hover, .left-nav .anvil-role-selected {
  color: %color:Primary 700%;
  background-color: rgba(0,0,0,.08);
}

.designer .nav-holder .left-nav {
  min-width: 56px;
}

.designer .nav-holder .left-nav > .anvil-component {
  min-width: 160px;
}

.nav-holder .left-nav > .anvil-component {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-holder .content {
  flex: 1;
  overflow-x: hidden;
}

/* Components: App Bar */
.app-bar {
  min-height: 56px;
  line-height: 40px;
  padding: 0 16px 0 72px;

  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: %color:Primary 500%;
  
  z-index: 1;
  /* 4dp */ box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);  
}

.app-bar .anvil-component {
  margin-top: 0;
  margin-bottom: 0;
}

.app-bar > .sidebar-toggle { display:block; float:left;  margin-left: -61px; }
.app-bar > .top-left-btn { float: left; margin-left: -60px; margin-right: -40px; }
.app-bar > .title { float: left; }
.app-bar > .title > .placeholder { outline: 1px dotted; padding-left: 16px; padding-right: 16px; margin: 8px 8px 0; display:none; }
.app-bar > .app-bar-nav { float: right; font-weight: normal; }
.app-bar > .app-bar-nav .placeholder { margin-top: 8px; padding: 0 8px; }
.anvil-highlight .app-bar > .app-bar-nav .placeholder { outline: 1px dotted #ccc; }
.anvil-highlight .app-bar > .title > .placeholder { display:block; }

.app-bar a, .app-bar .anvil-component {
  display: block;
  color: white;
  line-height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin: 5px 4px 0;
}

.app-bar .title .anvil-component {
  margin-left: 0;
}

.app-bar input.anvil-component, .app-bar .anvil-component input {
  line-height: 30px;
  color: white;
}

.app-bar select.form-control {
  height: 43px; /* 30px line height + 12px padding + 1px border */
}

.app-bar .anvil-component-icon-present .anvil-component-icon, .app-bar .sidebar-toggle .fa {
  width: 30px;
  text-align: center;
}

/* Don't put spacing on the top-level container (eg FlowPanel) */
.app-bar-nav > .anvil-container {
  margin: 0;
  padding: 0;
  min-height: 56px;
}

.anvil-highlight .app-bar-nav > .anvil-container:not(.has-components):not(a) {
  outline: 1px dotted #fff;
  margin-top: 8px;
  min-height: 40px;
  padding: 5px 8px;
}

.anvil-highlight .app-bar-nav > .anvil-container:not(.has-components):not(a)::after {  
  content: "Drop Links here"
}

/* Rejig margin vs padding to give links the halo */
.app-bar a, .app-bar a.anvil-component {
  padding: 5px;
  margin: 8px 0 0;
  border-radius: 20px;
}

.app-bar a .link-text {
  padding: 0 4px;
}
.app-bar a.has-text .anvil-component-icon.left {
  margin-right: 4px;
}
.app-bar a.has-text .anvil-component-icon.right {
  margin-left: 4px;
}

.app-bar a:hover, .app-bar a:active {
  color: #eee; text-decoration: none;
  background-color: %color:Primary 700%;
}


/* Component: Dialog (alert), Notification */
.modal-content, body>div[data-notify="container"] {
  border-radius: 2px;
  /* 24dp */ box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2)
    !important;
  background-color: %color:Primary 700%;
}

.modal-header {
  padding: 24px 24px 0px;
  font-size: 24px;
  line-height: 32px;
  border: 0;
  color: %color:Gray 300%;
}

.modal-body {
  padding: 20px 24px 24px;
  font-size: 16px;
  color: %color:Gray 300%;
}

.label-text {
  padding: 0 0 0 8px;
}

.alert-title {
  padding: 0 0 0 8px;
}

.anvil-text-box {
  color: %color:Gray 300% !important;
  padding-left: 8px !important;
}

.link-text {
  color: %color:Gray 300% !important;
}

.link-text:hover {
  color: %color:Primary 500% !important;
}

.modal-footer {
  padding: 8px 8px 8px 24px;
  border: 0;
  color: %color:Gray 300%;
}

.modal-footer .btn {
  background-color: transparent;
  color: %color:Primary 500%;
}
.modal-footer .btn, .modal-footer .btn:focus, .modal-footer .btn:active {
  box-shadow: none;
  top: 0;
}

/* Notifications */
body>div[data-notify="container"] {
  background: white;
  border: none;
  padding: 24px;
}

body>div[data-notify="container"]>span[data-notify="title"] {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

body>div[data-notify="container"]>span[data-notify="message"] {
  display: block;
  padding: 20px 0 0;
  font-size: 16px;
  color: #747474;  
}

body>div[data-notify="container"].alert-success{
  background-color: #d4edda;
}

body>div[data-notify="container"].alert-success>span[data-notify="title"]{
  color: #155724;
}

body>div[data-notify="container"].alert-danger{
  background-color: #f8d7da;
}

body>div[data-notify="container"].alert-danger>span[data-notify="title"]{
  color: #721c24;
}

body>div[data-notify="container"].alert-warning{
  background-color: #fff3cd;
}

body>div[data-notify="container"].alert-warning>span[data-notify="title"]{
  color: #856404;
}


/* Component: Button */

.btn, .btn-default, .file-loader>label {
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  min-height: calc(16px + 1.42857143em);
  text-transform: uppercase;

  border: 0;
  background-image: none;
  background-color: transparent;
  color: %color:Primary 500%;
/*   color: #E7C700 */
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  
  position: relative;
}

.btn:hover, .btn:focus, .file-loader>label:hover {
  background-color: rgba(153,153,153,0.2);
  background-image: none;
  outline: none;
  color: %color:Primary 500%;
}

.btn:active, .btn:active:focus {
  background-color: rgba(153,153,153,0.4);
  background-image: none;
  outline: none;
  box-shadow: none;
  color: %color:Primary 500%;
}

.btn[disabled] { color: rgba(0, 0, 0, .25); }
.anvil-role-raised > .btn[disabled], .anvil-role-primary-color > .btn[disabled], .anvil-role-secondary-color > .btn[disabled] {
  background-color: rgba(0,0,0,0.12) !important;
  color: rgba(0,0,0,0.25) !important;
  box-shadow: none !important;
}

.anvil-role-raised > .btn, .anvil-role-primary-color > .btn, .anvil-role-secondary-color > .btn, .anvil-role-raised.file-loader>label, .anvil-role-primary-color.file-loader>label, .anvil-role-secondary-color.file-loader>label,
.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger
{
  /* 2dp */  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.anvil-role-raised > .btn:active, .anvil-role-primary-color > .btn:active, .anvil-role-secondary-color > .btn:active, .btn-primary:active,
.btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active {
  /* 8dp */ box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);  
  top: -1px;
}

.anvil-role-primary-color > .btn, .btn-primary, .anvil-role-primary-color.file-loader>label {
  color: white;
  background-color: %color:Primary 500%;
}

.anvil-role-secondary-color > .btn, .anvil-role-secondary-color.file-loader>label {
  color: white;
  background-color: %color:Secondary 500%;
}

.btn-success, .btn-info, .btn-warning, .btn-danger {
  color: white;
}

.anvil-role-primary-color > .btn:hover, .anvil-role-primary-color > .btn:active, .anvil-role-primary-color > .btn:focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: white;
  background-color: %color:Primary 700%;
}

.anvil-role-secondary-color > .btn:hover, .anvil-role-secondary-color > .btn:active, .anvil-role-secondary-color > .btn:focus {
  color: white;
  background-color: %color:Secondary 700%;
}

/* Component: Card */

.anvil-role-card {
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  padding: 8px 12px;
  /* 2dp */  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* full_width_row sections go full bleed */
.column-panel.anvil-role-card > .anvil-panel-section > .anvil-panel-section-container.full-width-row {
  margin-left: -12px;
  margin-right: -12px;
  width: initial;
  max-width: initial;
}

/* If the first row of a card is a full_width_row, it goes to the top */
.column-panel.anvil-role-card > .anvil-panel-section:first-child > .anvil-panel-section-container.full-width-row {
  margin-top: -8px;
}
.column-panel.anvil-role-card > .anvil-panel-section:last-child > .anvil-panel-section-container.full-width-row {
  margin-bottom: -8px;
}

.anvil-role-login_input {
  border-radius: 2px !important;
}

/* Component: TextBox + TextArea */

input.anvil-component, textarea.anvil-component, .anvil-component select, .anvil-datepicker input {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid %color:Gray 300% !important;
  border-radius: 10px;
  background-color: transparent;
  color: rgba(0,0,0,0.87);
  
  box-shadow: none;
}

.anvil-dropdown {
  font-size: 16px;
}
.anvil-component select {
  font-size: inherit;
}

input.anvil-component, .anvil-component select, .anvil-datepicker input {
  padding: 8px 0 4px;
  border: 0;
/*   border-bottom: 1px solid rgba(0,0,0,0.42); */

  transition: border-bottom 0.2s, padding-bottom 0.2s;
  -moz-transition: none; /* Firefox is jumpy, so disable transitions */
}

textarea.anvil-component {
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,0.42);
  border-radius: 2px;
  transition: border 0.2s, padding 0.2s;
  -moz-transition: none; /* Firefox is jumpy, so disable transitions */
}

.anvil-dropdown select.form-control {
  
/*   -webkit-appearance: none;
  -moz-appearance: none; */
  padding: 6px 2em 4px 12px;
  cursor: pointer; 
  
  /* ew ew ew - select elements are weird and don't obey line-height, so we just
     set the height explicitly. Ugh. */
  height: calc(1.5em + 13px); /* 8px + 4px padding + 1px border = 13px */
}

.anvil-dropdown {
  position: relative;
}
/* Select arrow styling */
.anvil-dropdown form:before {
/*     content: "\25BC"; */
    position: absolute;
    right: 0;
    font-size: 80%;
    line-height: calc(1.8em + 8px);
    color: %color:Gray 300%;
    pointer-events:none;
    padding: 4px 4px;
}

.anvil-component select, .anvil-datepicker input { margin-bottom: 0px; }
input.anvil-component.anvil-spacing-below-none { margin-bottom: 4px; }
input.anvil-component.anvil-spacing-below-small { margin-bottom: 8px; }
input.anvil-component.anvil-spacing-below-medium { margin-bottom: 12px; }
input.anvil-component.anvil-spacing-below-large { margin-bottom: 20px; }

input.anvil-component::-webkit-input-placeholder, textarea.anvil-component::-webkit-input-placeholder {
  color: rgba(0,0,0,0.54);
}
input.anvil-component::-moz-placeholder, textarea.anvil-component::-moz-placeholder {
  color: rgba(0,0,0,0.54);
}
input.anvil-component::placeholder, textarea.anvil-component::placeholder  {
  color: rgba(0,0,0,0.54);
}

.app-bar input.anvil-component::-webkit-input-placeholder, .app-bar textarea.anvil-component::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.app-bar input.anvil-component::-moz-placeholder, .app-bar textarea.anvil-component::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
.app-bar input.anvil-component::placeholder, .app-bar textarea.anvil-component::placeholder  {
  color: rgba(255,255,255,0.8);
}

/* input.anvil-component:hover, .anvil-component select:hover, .anvil-datepicker input:hover {
  border-bottom: 2px solid rgba(0,0,0,.87);
  padding-bottom: 3px;
}

input.anvil-component:focus, .anvil-component select:focus, .anvil-datepicker input:focus {
  border-bottom: 2px solid %color:Primary 700%;
  padding-bottom: 3px;
  box-shadow: none;
} */

input.anvil-component[disabled], .anvil-component select[disabled], .anvil-datepicker input[disabled] {
  border-bottom: 1px dashed #888;
  padding-bottom: 4px;
  background-color: transparent;
}

textarea.anvil-component:hover {
  border: 2px solid rgba(0,0,0,0.87);
  padding: 3px 7px;
}

textarea.anvil-component:focus {
  border: 2px solid %color:Primary 700%;
  padding: 3px 7px;
  box-shadow: none;
}

textarea.anvil-component[disabled] {
  border: 1px dashed #888;
  padding: 4px 8px;
  background-color: transparent;
}

.daterangepicker td.active {
  background-color: %color:Primary 500%;
}

.daterangepicker td.active:hover {
  background-color: %color:Primary 700%;
}

.daterangepicker .btn-success {
  color: %color:Primary 500%;
}

/* Component: CheckBox, RadioButton */
/* Ugh. These are definitely TODO right now. */

.checkbox, .radio {
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif !important;
}

/* Shadow values taken from 
https://stackoverflow.com/questions/30533055/calculating-shadow-values-for-all-material-design-elevations
*/

.static-popup {
   background: rgba(0, 0, 0, 0) !important;
   border: none !important;
   font-size: 15px;
   box-shadow: none !important;
}

.mapboxgl-popup-content {
  box-shadow: 0 0px 0px rgb(0, 0, 0);
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

th, td {
  width: 80px
}

.firstCol {
  width: 80px
}

.setHomeAddress {
  position: relative;
  width: 1000px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  left: calc(40% - 400px);
  top: calc(45% - 200px);
  display: table;
}

.setHomeAddressForm {
  position: relative;
  top: 8vh;
  font-size: 2rem;
  text-align: center;
  line-height: 5vh;
}

.setHomeAddressButton {
  width: 5vw;
  height: 5vh;
}

.darkBackground {
  width: 100vw;
  height: 100vh;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 129%;
  display: none;
}

.content {
  overflow-y: hidden;
}

table {
  margin-bottom: 2rem;
}

table, td {
  border: none;
}

td {
  min-width: 15rem;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: .5rem;
}

.text {
  padding-left: 1rem;
  margin: 1rem 0 0 0;
}

.setHomeDataButton {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.alert-modal {
  z-index: 499 !important;
}

.modal-backdrop {
  z-Index: 499 !important;
}

.anvil-role-sidebar_collapsable > button {
  background-color: rgba(0, 0, 0, 0);
  text-align: left !important;
}

.anvil-role-sidebar_collapsable > button:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.anvil-role-sidebar_collapsable > button:active {
  background-color: rgba(0, 0, 0, 0) !important;
}

.anvil-role-sidebar_collapsable > button:focus {
  background-color: rgba(0, 0, 0, 0) !important;
}

.anvil-role-sidebar_collapsable > button:hover > span {
  color: #ccb666 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.anvil-role-sidebar_collapsable > button:hover > i {
  color: #ccb666 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

html {
  font-family: 'Roboto', sans-serif !important;
}

.anvil-role-switch label,
.anvil-role-switch-rounded label {
   position: relative;
/*    width: 1.8em; */
   padding-left: 1em !important;

}
.anvil-role-switch input,
.anvil-role-switch-rounded input { 
 opacity: 0;
 height: 0;
}

.anvil-role-switch span,
.anvil-role-switch-rounded span {
   position: relative;
   display: block !important;
   font-size: ineherit;
   padding-left: calc(1em + .5rem);
}


.anvil-role-switch span::before,
.anvil-role-switch-rounded span::before {
   content: "";
   position: absolute;
   cursor: pointer;
   top: 0.1em;
   bottom: 0;
   left: -1em;
   width: 1.8em;
   height: 1em;
   background-color: #ccc;
   -webkit-transition: .2s;
   transition: .2s;
}

.anvil-role-switch span::after,
.anvil-role-switch-rounded span::after {
   position: absolute;
   cursor: pointer;
   content: "";
   height: .8em;
   width: .8em;
   left: -.88em;
   top: .2em;
   bottom: 0;
   background-color: white;
   -webkit-transition: .2s;
   transition: .2s;
}
.anvil-role-switch input:checked + span::before,
.anvil-role-switch-rounded input:checked + span::before {
 background-color: %color:Primary 500%;
}

.anvil-role-switch input:focus + span::before,
.anvil-role-switch-rounded input:focus + span::before {
 box-shadow: 0 0 1px %color:Primary 500%;
}

.anvil-role-switch input:checked + span::after,
.anvil-role-switch-rounded input:checked + span::after {
 -webkit-transform: translateX(.8em);
 -ms-transform: translateX(.8em);
 transform: translateX(.8em);
}

.anvil-role-switch-rounded span::after {
 border-radius: 50%;
}
.anvil-role-switch-rounded span::before {
 border-radius: .5em;
}

.left-nav::-webkit-scrollbar {
  width: 0.75rem;
  background-color: %color:Gray 300%;
}

.left-nav::-webkit-scrollbar-thumb {
  background-color: %color:Secondary 500%;
}

.left-nav::-webkit-scrollbar-thumb:hover {
  background-color: %color:Primary 500%;
}

#loading-bar_container {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: 0;
  z-index: 400;
  display: flex;
  background-color: %color:Primary 700%;
  visibility: hidden;
}

#loading-bar {
  width: 0%;
  height: 20px;
  background-color: %color:Secondary 500%;
  position: relative;
  transition: width 3s ease-in-out;
}
#moving-bar {
  position: relative;
  width: 2%;
  height: 20px;
  background-color: %color:Primary 500%;
  animation: loading 6s ease-out infinite;
  z-index: 401;
  opacity: 25%;
}

@keyframes loading {
  0% {
    width: 0;
  }

  100% {
    width: 100%
  }
}

#loading-bar_text {
  padding-left: 8px;
  color: %color:Gray 100%;
  position: absolute;
  z-index: 402;
}

#lock-modal {
  width: 15%;
  height: 95%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 9990;
  visibility: hidden;
}

.grid-panel > div {
  margin-bottom: 0px !important;
}

.anvil-role-cluster_list {
  height: 135px
}

select:focus {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

select > option {
  background-color: %color:Secondary 700%;
}

.file-loader:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.mapboxgl-popup {
  z-index: 300;
}

.markerPopup .mapboxgl-popup-content {
  background-color: %color:Primary 700%;
  color: %color:Gray 300% !important;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  padding: 10px 0 10px 0 !important;
}

.mapboxgl-popup-content button {
  border: none;
  width: 100%;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
}

.mapboxgl-popup-content button:hover {
  background-color:%color:Secondary 700%;
}

.mapboxgl-popup-content .mapboxgl-popup-close-button {
  display: none;
}

.markerPopup .mapboxgl-popup-tip {
  border-top-color: %color:Secondary 700%;
}

.popup_name {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
}

.popup_type {
  margin-top: 3px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.popup_betreiber_label {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.popup_betreiber {
  margin-top: 2px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.popup_status {
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.popup_distance {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-menu {
  position: absolute;
/*   top: 60px;
  left: 10px; */
  bottom: 16px; /*Bottom Menu */
  left: 50%; /*Bottom Menu */
  transform: translateX(-40px); /*Bottom Menu */
  background-color: %color:Primary 700%;
/*   width: 40px;
  height: 40px; */
  width: 80px; /*Bottom Menu */
  height: 26px; /*Bottom Menu */
/*   border-radius: 4px; */
  border-top-left-radius: 20px; /*Bottom Menu */
  border-top-right-radius: 20px; /*Bottom Menu */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 399;
  transition: bottom 1s ease-out;
}

.mobile-menu-icon {
/*   width: 60%; */
  width: 16px; /*Bottom Menu */
}

::placeholder {
  color: %color:Gray 600% !important;
}

.mapboxgl-ctrl-top-right {
  z-index: 398 !important;
}

.mapboxgl-ctrl-top-left {
  z-index: 398 !important;
}

.mapboxgl-ctrl-bottom-right {
  z-index: 398 !important;
}

.mapboxgl-ctrl-bottom-left {
  z-index: 398 !important;
}

.marker_details {
  position: fixed;
  top: 0;
  right: 0;
  background-color: %color:Primary 700%;
  color: %color:Gray 300%;
  z-index: 400;
  padding: 10px 10px 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 20%;
}

.marker_details::-webkit-scrollbar {
  width: 0.75rem;
  background-color: %color:Gray 300%;
}

.marker_details::-webkit-scrollbar-thumb {
  background-color: %color:Secondary 500%;
}

.marker_details::-webkit-scrollbar-thumb:hover {
  background-color: %color:Primary 500%;
}

.anvil-root-container {
  overflow: hidden;
}

.mapboxgl-map {
  height: 100%
}

#navigationHeader {
  padding: 10px;
  cursor: move;
  z-index: 400;
  background-color: %color:Primary 500%;
  color: %color:Primary 700%;
}

.objectName {
  width: 100%;
  font-size: 22px;
}

.tagContainer {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid rgb(204, 182, 102);
  border-radius: 5px;
  height: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.1rem;
  padding: 8px;
  margin-right: 5px;
}

.partingLine {
  height: 2px;
  background-color: %color:Gray 600%;
  width: 100%;
  opacity: .25;
  margin-bottom: 10px;
}

.mapboxgl-canvas {
  cursor: default;
}

.rmv_container {
  display: flex;
  justify-content: end;
}

#remove {
  margin-bottom: 5px;
  position: relative;
  right: 0;
  bottom: 0;
  color: %color:Gray 300%;
}

#close {
  margin-bottom: 5px;
  position: relative;
  right: 0;
  bottom: 0;
  color: %color:Gray 300%;  
}

.mapboxgl-popup-content {
  cursor: pointer;
}

.iconAddress {
  width: 17px;
  height: 20px;
  margin-right: 5px;
}

.containerAddress {
  display: flex;
}

.checkbox > label {
  padding: 3px 7px 3px 20px !important;
}

.anvil-role-login_form {
  height: 100vh;
  display: grid;
  align-items: center;
}

.anvil-role-login_panel {
}

.anvil-role-login_grid > div {
  padding: 0 !important;
}

#mapPopup {
  position: absolute;
  z-index: 300;
  color: %color:Gray 300%;
  background-color: %color:Primary 700%;
  min-width: 100px;
  min-height: 35px;
  border-radius: 5px;
  padding: 10px;
}

#addMarker {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#addMarker:hover {
  color: %color:Primary 500%
}

/* .left-nav {
  visibility: hidden;
} */

body {
  width: 100vw;
}